# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Django
db.sqlite3
media/
staticfiles/

# Environment
.env
venv/
env/

# macOS
.DS_Store

# Logs
*.log

# Node (if used)
node_modules/

# IDE
.vscode/
.idea/